* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

